body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}
.link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
h1 {
  line-height: 1.07;
  font-weight: 700;
}

a {
  text-decoration: none;
  size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

ul, ol {
  list-style: none;
}
h2 {
  size: 20px;
  line-height: 1.2;
  font-weight: 500;
}
h3 {
  size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
.nav {
background-color:#FFFFFF
}
